extends layout

block content
  .main.container
    .row
      .tabbable
        .tab-content.no-border.padding-24
          #home.tab-pane.in.active
            .row
              .col-xs-12.col-sm-3.center
                if avatar==''
                  img.social-avatar(style='width: 100%' src='https://i.imgur.com/uYq21Ou.png')
                else
                  img(style='width: 100%' src=avatar)
                br
                br
                form#uploadForm(ref='uploadForm' action='/profile/upload' method='post' enctype='multipart/form-data')
                  span(class="fa fa-folder-open" aria-hidden="true")
                    input(type='file' name='sampleFile' accept=".jpg,.png,.JPG,.PNG" )
                  button.btn.btn-primary.btn-block(type='submit') Upload!
              .col-xs-12.col-sm-8.center
                h4
                  span.middle #{user.name}
                  span.label.arrowed-in-right
                    i.ace-icon.fa.fa-circle.smaller-80
                    | 									online
                .profile-user-info
                  .profile-info-row
                    .profile-info-name.white Email 
                      i.fa.fa-envelope.white
                    .profile-info-value
                      span #{user.email}
                  .profile-info-row
                    .profile-info-name.white Age 
                      i.fa.fa-calendar.white
                    .profile-info-value
                      span #{user.age}
                  .profile-info-row
                    .profile-info-name.white  Address 
                      i.fa.fa-map-marker.white
                    .profile-info-value
                      span #{user.address}
                  .profile-info-row
                    .profile-info-name.white Gender 
                      if user.gender == 'Female'
                        i.fa.fa-female.white
                      else
                        i.fa.fa-male.white
                    .profile-info-value
                      span #{user.gender}
                  .profile-info-row
                    .profile-info-name.white Ocupation 
                      i.fa.fa-cogs.white
                    .profile-info-value
                      span #{user.profession}
                  .profile-info-row
                    .profile-info-name.white Cellphone 
                      i.fa.fa-phone.white
                    .profile-info-value
                      span #{user.cnumber}
                  .profile-info-row
                    .profile-info-name.white Type 
                      i.fa.fa-flag.white
                    .profile-info-value
                      span #{user.type}
                br
                form(method='GET' action='/profile/editprofile')
                  button.btn.btn-primary.btn-block(type='submit') Edit your profile
            .space-20
            br
            br
            .row
              .col-xs-20.col-sm-10
                .widget-box.transparent
                  .widget-header.widget-header-small
                    h4.widget-title.smaller
                      i.ace-icon.fa.fa-check-square-o.bigger-110
                      | 										Little About Me
                  .widget-body
                    .widget-main
                      p #{user.about}
                        span #{user.aboutme}